In [12]:
import pandas as pd

# List1
lst = [['tom', 'reacer', 25], ['krish', 'pete', 30], ['nick', 'witson', 26], ['juli', 'williams', 22]]

df = pd.DataFrame(lst, columns =['FName', 'LName', 'Age'], dtype = float)
print(df)

<ipython-input-12-628680853817>:6: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df = pd.DataFrame(lst, columns =['FName', 'LName', 'Age'], dtype = float)

   FName     LName   Age
0    tom    reacer  25.0
1  krish      pete  30.0
2   nick    witson  26.0
3   juli  williams  22.0

In [13]:
# importing pandas
import pandas as pd

# lis of dicts
input_df = [{'name':'Sujeet','age':10},
           {'name':'Sameer','age':11},
           {'name':'Sumir','age':12}]

df = pd.DataFrame(input_df)
print('Original DataFrame:\n', df)

print('\nRows iterated using iterrows():')
for index, row in df.iterrows():
    print(row['name'], row['age'])

Original DataFrame:
      name  age
0  Sujeet   10
1  Sameer   11
2   Sumir   12

Rows iterated using iterrows():
Sujeet 10
Sameer 11
Sumir 12

In [14]:
# importing pandas
import pandas as pd

# lis of dicts
input_df = [{'name':'Sujeet','age':10},
           {'name':'Sameer','age':110},
           {'name':'Sumir','age':120}]

df = pd.DataFrame(input_df)
print('Original DataFrame:\n', df)

print('\nRows iterated using itertuples():')
for row in df.itertuples():
    print(getattr(row,'name'), getattr(row,'age'))

Original DataFrame:
      name  age
0  Sujeet   10
1  Sameer  110
2   Sumir  120

Rows iterated using itertuples():
Sujeet 10
Sameer 110
Sumir 120

In [4]:
# Import pandas package
import pandas as pd

# define a dictionary containing employee data
data = {'Name':['Jai','Princi','Gaurav','Anuj'],
       'Age':[27, 24, 22, 32],
       'Address':['Delhi', 'Kampur', 'Allahadad', 'Kannauj'],
       'Qualification':['Msc', 'MA', 'MCA', 'Phd']}

# Convert the dictionary into DataFrame
df = pd.DataFrame(data)

# select three rows and tho columns
print(df.loc[1:3,['Name', 'Qualification']])

     Name Qualification
1  Princi            MA
2  Gaurav           MCA
3    Anuj           Phd

In [7]:
# Import pandas package
import pandas as pd

# define a dictionary containing employee data
data = {'Name':['Jai','Princi','Gaurav','Anuj'],
       'Age':[27, 24, 22, 32],
       'Address':['Delhi', 'Kampur', 'Allahadad', 'Kannauj'],
       'Qualification':['Msc', 'MA', 'MCA', 'Phd']}

# Convert the dictionary into DataFrame
df = pd.DataFrame(data)

# .loc DataFrame method
# filtering rows and selecting columns by label format
# df.loc[rows, columns]
# row l, all columns
print(df.loc[0, :])

Name               Jai
Age                 27
Address          Delhi
Qualification      Msc
Name: 0, dtype: object